.container {
    background-color: #fff;
    border: 1px solid #ccc;
    list-style: none;
    article {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        @media (max-width: 600px){
            flex-direction: column;
        }
    }
    &:hover{
        background-color: #fafafa;
        cursor: pointer;
    }
}

.title-and-author {
    display: flex;
    width: 60%;
    @media (max-width: 600px){
        flex-direction: column;
        width: 100%;
    }
}

.date-and-button {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    @media (max-width: 600px){
        width: 100%;
    }
}