.container {
    background-color: #FF6600;
    height: 33vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    h1 {
        margin: 0px;
        font-size: 4em;
        font-weight: 900;
    }
    h2 {
        margin: 0px;
        font-size: 2em;
        font-weight: 700;
    }
}